PORT=3000

DB_NAME=authapp
DB_USER=postgres
DB_PASSWORD=''
DB_HOST=localhost

JWT_SECRET=secret
JWT_REFRESH_SECRET=refresh

HOST=http://localhost:3000

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=email.com
SMTP_PASS=password